<%- include(header) %>
    <h1>Tela de Busca</h1>
    <%- search[0].idnoticias %> <br>
    <%- search[0].titulo %>  <br>
    <%- search[0].noticia %>  <br>
    <%- search[0].data_criacao %> <br>
    <a href="/">Voltar</a>
<%- include(footer) %>