<%- include(header) %>
	    <div class="container">
	    	<%= if(noticias.length > 0) { %>
	    		<%= for(var i = 0; i < noticias.length; i++) {%>
			    	<div class="row">
			    		<div class="col-md-12">
			    			<div class="noticia_wrapper">
				    			<span class="noticia_autor"><%=noticias[i].autor%></span>
				    			<a href="noticia?idnoticias=<%= noticias[i].idnoticias %>" class="noticia_titulo"><%=noticias[i].titulo%></a>
				    			<span class="noticia_data"><%=noticias[i].data_criacao%></span>
				    			<br />
				    			<p class="noticia_resumo">
				    				<%=noticias[i].noticia%>
				    			</p>
				    		</div>
				    	</div>
					</div>
				<% } %>
			<% } %>
	    </div>
<%- include(footer) %>